---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: "${k8_namespace}"
  namespace: "${k8_namespace}"
spec:
  provider:
    gcpsm:
      auth:
        secretRef:
          secretAccessKeySecretRef:
            key: secret-access-credentials
            name: "${service_account}"
      projectID: "${project_id}"
