apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "${k8_secret}"
  namespace: "${k8_namespace}"
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: "${k8_secret_store}"
    kind: SecretStore
  target:
    name: "${k8_secret}"
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
  - secretKey: "${k8_key}"
    remoteRef:
      key: "${gcp_secret}"
---
