---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "${k8_secret}"
  namespace: "${k8_namespace}"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: "${k8_namespace}"
    kind: SecretStore
  target:
    name: "${k8_secret}"
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
