---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: "${k8_namespace}"
  namespace: "${k8_namespace}"
spec:
  provider:
    gcpsm:
      auth:
        workloadIdentity:
          clusterLocation: "${cluster_location}"
          clusterName: "${cluster_name}"
          clusterProjectID: "${project_id}"
          serviceAccountRef:
            name: "${service_account}"
            namespace: "${k8_sa_namespace}"
      projectID: "${project_id}"
