---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "${k8_secret}"
  namespace: "${k8_namespace}"
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: "${k8_namespace}"
  target:
    name: "${k8_secret}"
    creationPolicy: Owner
    deletionPolicy: Retain
  dataFrom:
    - find:
        # Get all GCP secrets with namespace prefix
        path: "${gcpsm_secret_prefix}${k8_namespace}__"
        name:
          regexp: ".*"
      rewrite:
        - regexp:
            # Remove the path prefix from each key
            source: "${gcpsm_secret_prefix}${k8_namespace}__(.*)"
            target: "$1"
